doctype html
html
  head
    title Example
    meta(charset="utf-8")
  body
    #container
      if flash.success
        div.success=flash.success
      h2 Example #{$format('date', '2016-12-01')}
      ul
      each item in items
        li
          :php $price = $item->getPrice();
          a(href='/examples/#{item.id}') #{item.name} #{item.price}
          |&nbsp;(
          =$format('money', $price)
          |)
      br
      pager
      br
      a(href='/insert') Ajouter