doctype html
html
  head
    title Example
    meta(charset="utf-8")
  body
    #container
      if flash.success
        div.success=flash.success
      h2 Example #{format('date', '2016-01-01')}
      p#time

      script(type='text/javascript', nonce=nonce()).
        document.write("test");
        window.onload = function() {
            var source = new EventSource('/sse');
            source.addEventListener('message', function (e) {
                document.getElementById("time").innerHTML = e.data;
            }, false);
        };

      ul
      each item in items
        li Example #{item.name} #{format('money', item.price)}
      br
      pager
      br
      a(href='/insert') Ajouter
