doctype html
html
  head
    title Example
    meta(charset="utf-8")
  body
    #container
      if flash.success
        div.success=flash.success
      h2 Example #{format('time', '2016-01-01')}

      script(type='text/javascript', nonce=nonce()).
        document.write("test");

      ul
      each item in items
        li Example #{item.name} #{format('money', item.price)}
      br
      pager
      br
      a(href='/insert') Ajouter